<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	
    <meta charset="utf-8">
	<title>Tarea de aprendizaje 2</title>
	
	<!-- Hoja de estilo enlazada -->
	<link th:href="@{style.css}" rel="stylesheet" />
	
	<!-- Estilos en documento -->
	<style type="text/css">
	    h1{color: #5F9EA0; font-size:27px;}
		body{font-family:lucida console;}
	</style>
	
</head>
<body>
	
    <h1 style="text-align:center;font-size:62px; letter-spacing:10px; margin-bottom:70px;">ESTA ES LA PÁGINA INDEX</h1>
	<h2>ESTAS LETRAS USAN EL ESTILO DE LA HOJA DE ESTILOS</h2>
</body>
</html>